<!DOCTYPE html>
<html>
  <head>
      <script 
        src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js">
    </script>
    <script 
        src="http://code.jquery.com/jquery-1.8.2.min.js">
    </script>
    <script src="http://cdn.jsdelivr.net/morris.js/0.4.1/morris.min.js"></script>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <% if current_page?(root_path) %>
      <%= render 'layouts/home_header' %>
    <% else %>
      <%= render 'layouts/header' %>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>